@page "/"
@rendermode InteractiveServer


<PageTitle>Home</PageTitle>

<h1>Database Entries:</h1>

<button class="btn btn-primary" @onclick="AddNewEntry">Add new entry</button>
<br>

@code
{
    BloggingContext db = new BloggingContext();
    IOrderedQueryable<Blog> query;
    protected override void OnInitialized()
    {
        query = from b in db.Blogs
        orderby b.BlogId
        select b;
    }

    private void AddNewEntry(MouseEventArgs args)
    {
        Console.WriteLine("CLICKED!");
        db.Blogs.Add(new Blog{Name="Button add"});
        db.SaveChanges();
    }
}

@foreach (var item in query)
{
    <par>[@item.BlogId] @item.Name</par>
    <br>
}