@page "/"
@rendermode InteractiveServer


<PageTitle>Home</PageTitle>

<h1>Database Entries</h1>

<button class="btn btn-primary" @onclick="AddNewEntry">Add new entry</button>
<input @oninput="OnInput" value=@entryName>
<br>

@code
{
    public void OnInput(ChangeEventArgs a)
    {
        entryName = a.Value.ToString();
    }

    BloggingContext db = new BloggingContext();
    IOrderedQueryable<Blog> query;
    private string entryName = "Robert'); DROP TABLE STUDENTS; --";
    protected override void OnInitialized()
    {
        query = from b in db.Blogs
        orderby b.BlogId
        select b;
    }

    private void AddNewEntry(MouseEventArgs args)
    {
        db.Blogs.Add(new Blog{Name=entryName});
        db.SaveChanges();
        entryName = ""; // clear input
    }
}

@foreach (var item in query)
{
    <par>[@item.BlogId] @item.Name</par>
    <br>
}